.ant-col {
  width: 100%;
}

body {
  .ant-message {
    z-index: 999999;
  }
}

.ant-upload {
  width: 100%;
}

.ant-menu-title-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.ant-modal-footer {
  * {
    font-size: 24px !important;
  }
}

.ant-image-preview-root img {
  display: unset;
}

.ant-form-item-label {
  width: auto !important;
}

.ant-layout-header {
  background: #fff !important;
  height: auto !important;
}

.ant-checkbox-inner {
  width: 24px !important;
  height: 24px !important;
}

.ant-segmented {
  width: max-content;
}

.ant-menu-item {
  height: 2.5em !important;
}

.ant-select-selector {
  height: auto !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ant-btn {
  height: auto !important;
}

.ant-list-item-meta {
  align-items: center !important;
}

.ant-input-number {
  min-width: 340px;
  max-width: 100% !important;
}

